{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}
{% block stylesheets %}
    <style>
        form > div {
            margin-top : 15px;
        }
        form button{
            margin-top : 15px;
            background : blue;
            color : #fff;
            border-color : blue;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#button_article").click(function(ev) {
               // ev.preventDefault();
                
            })
        })
    </script>
{% endblock %}